@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --color-neutral-800-hsl: 240, 10%, 57%;

  --color-primary-100: hsla(0, 0%, 98%, 1);
  --color-primary-800: hsla(240, 21%, 20%, 1);
  --color-accent-500: hsla(192, 37%, 48%, 1);
  --color-accent-500-hover: hsla(192, 54%, 64%, 1);
  --color-accent-400: hsla(268, 34%, 53%, 1);
  --color-accent-400-hover: hsla(267, 54%, 71%, 1);
  --color-neutral-800: hsla(var(--color-neutral-800-hsl), 1);
  --color-neutral-500: hsla(192, 90%, 77%, 1);
  --color-neutral-400: hsla(268, 100%, 86%, 1);

  --font-family-default: "Red Hat Display", sans-serif;
  --font-weight-medium: 500;
  --font-weight-black: 900;

  --font-size-xs: 1rem; /* 16px */
  --font-size-sm: 1.125rem; /* 18px */
  --font-size-md: 2rem; /* 32px */
  --font-size-lg: 2.5rem; /* 40px */
  --font-size-xl: 3rem; /* 48px */
  --font-size-xxl: 4rem; /* 64px */

  --line-height-body: 1.625rem; /* 26px */
  --line-height-md: 2.25rem; /* 36px */
  --line-height-lg: 2.75rem; /* 44px */
  --line-height-xl: 3rem; /* 48px */
  --line-height-xxl: 4rem; /* 64px */
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  /* max-width: 100%; */
}

button {
  display: block;
  font: inherit;
}

/* Utilities */

.no-wrap {
  white-space: nowrap;
}

.wrapper,
.wrapper--sm {
  margin-inline: 6.4vw;
}

.wrapper {
  max-width: 575px;
}

.wrapper--sm {
  max-width: 450px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Buttons */

.button {
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 1.8125rem;
  color: var(--color-primary-100);
  background-color: var(--color-accent-500);
  font-weight: var(--font-weight-black);
  font-size: var(--font-size-xs);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.button span {
  color: var(--color-neutral-500);
}

.button--sm {
  padding: 1rem 1.8125rem;
}

.button--accent {
  background-color: var(--color-accent-400);
}

.button--accent span {
  color: var(--color-neutral-400);
}

.button:is(:hover, :focus) {
  background-color: var(--color-accent-500-hover);
}

.button--accent:is(:hover, :focus) {
  background-color: var(--color-accent-400-hover);
}

/************* Styles *************/

/* Typography */
body {
  color: var(--color-primary-800);
  background-color: var(--color-primary-100);
  font-family: var(--font-family-default);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-body);
  text-align: center;
  min-width: 375px;
}

h1 {
  font-size: clamp(
    var(--font-size-lg),
    2.0229rem + 2.0356vw,
    var(--font-size-xl)
  );
  line-height: clamp(
    var(--line-height-lg),
    2.5115rem + 1.0178vw,
    var(--line-height-xl)
  );
  font-weight: var(--font-weight-black);
}

h2 {
  font-size: clamp(
    var(--font-size-md),
    1.5229rem + 2.0356vw,
    var(--font-size-lg)
  );
  line-height: clamp(
    var(--font-size-md),
    1.7729rem + 2.0356vw,
    var(--font-size-lg)
  );
  font-weight: var(--font-weight-black);
}

.overline {
  font-weight: var(--font-weight-black);
  color: var(--color-accent-500);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
/* Layout */

.logo {
  margin: 3rem auto 3.175rem;
}

.hero {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.hero__img-desktop {
  display: none;
}

.hero__img {
  width: 108%;
  height: auto;
  position: relative;
  left: -4%;
}

.hero__content,
.features__content,
.footer__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__content > h1 {
  margin: 2.85rem 0 1.35rem;
}

.hero__content > p {
  color: var(--color-neutral-800);
}

nav {
  padding-inline: 2rem;
  margin: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.divider {
  --divider-line-height: 84px;
  --divider-badge-radius: 56px;
  --divider-color-line: hsla(var(--color-neutral-800-hsl), 0.25);

  position: relative;
  margin: var(--divider-line-height) auto
    calc(var(--divider-badge-radius) * (-1) / 2);
  display: grid;
  place-content: center;
  width: var(--divider-badge-radius);
  height: var(--divider-badge-radius);
  border-radius: 50%;
  border: 1px solid var(--divider-color-line);
  color: var(--color-neutral-800);
  background-color: var(--color-primary-100);
  font-weight: var(--font-weight-black);
  z-index: 5;
}

.divider::before {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--divider-line-height);
  border-left: 1px solid var(--divider-color-line);
  transform: translate(50%, -100%);
}

.features,
footer {
  margin-top: 4rem;
  padding-top: 1px;
}

.features__images {
  margin: 5rem 5vw 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.features__img {
  width: 46%;
  height: auto;
  border-radius: 0.5rem;
}

.features__title {
  margin-top: 1.5rem;
}

.features__text {
  margin-top: 2rem;
  color: var(--color-neutral-800);
}

.footer-background {
  position: relative;
  background-image: url("/assets/mobile/image-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-color: var(--color-accent-500);
}

.footer__content {
  padding: 5.75rem 0 4.5rem;
  position: relative;
  color: var(--color-primary-100);
}

.footer__content > p {
  margin-top: 1.5rem;
  font-size: var(--font-size-sm); /* 18px */
}

.footer__content > button {
  margin-top: 2rem;
}

/* Media Queries */

@media screen and (min-width: 768px) {
  body {
    font-size: clamp(
      var(--font-size-xs),
      0.8571rem + 0.2976vw,
      var(--font-size-sm)
    );
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: clamp(
      var(--font-size-xl),
      1.8571rem + 2.381vw,
      var(--font-size-xxl)
    );
    line-height: clamp(
      var(--line-height-xl),
      1.8571rem + 2.381vw,
      var(--line-height-xxl)
    );
  }
}

@media screen and (min-width: 760px) {
  .features__img {
    width: 22%;
    max-width: 164px;
  }
}

@media screen and (min-width: 769px) {
  .features__img {
    max-width: 255px;
  }
}

@media screen and (min-width: 768px) {
  .footer-background {
    background-image: url("/assets/tablet/image-footer.jpg");
  }
}

@media screen and (min-width: 1024px) {
  .footer-background {
    background-image: url("/assets/desktop/image-footer.jpg");
  }
}

@media screen and (min-width: 968px) {
  .wrapper--sm {
    max-width: 540px;
  }

  .hero {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .hero__content {
    width: 40%; /* Add this line */
  }

  .hero__text {
    margin-inline: 0;
  }

  .hero__img {
    display: none;
  }

  .hero__img-desktop {
    display: block;
    width: 33%;
    height: auto;
    position: relative;
  }

  .hero__img-desktop:first-child {
    left: -3%;
  }

  .hero__img-desktop:last-child {
    right: -3%;
  }

  .footer__content {
    margin-inline: 5vw;
    max-width: 1110px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer__content > * {
    text-align: left;
    min-width: 200px;
    max-width: 350px;
    margin: 0;
  }
}
