@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --color-neutral-800-hsl: 240, 10%, 57%;

  --color-primary-100: hsla(0, 0%, 98%, 1);
  --color-primary-800: hsla(240, 21%, 20%, 1);
  --color-accent-500: hsla(192, 37%, 48%, 1);
  --color-accent-500-hover: hsla(192, 54%, 64%, 1);
  --color-accent-400: hsla(268, 34%, 53%, 1);
  --color-accent-400-hover: hsla(267, 54%, 71%, 1);
  --color-neutral-800: hsla(var(--color-neutral-800-hsl), 1);
  --color-neutral-500: hsla(192, 90%, 77%, 1);
  --color-neutral-400: hsla(268, 100%, 86%, 1);

  --font-family-default: "Red Hat Display", sans-serif;
  --font-weight-medium: 500;
  --font-weight-black: 900;

  --font-size-xs: 1rem; /* 16px */
  --font-size-sm: 1.125rem; /* 18px */
  --font-size-md: 2rem; /* 32px */
  --font-size-lg: 2.5rem; /* 40px */
  --font-size-xl: 3rem; /* 48px */
  --font-size-xxl: 4rem; /* 64px */

  --line-height-body: 1.625rem; /* 26px */
  --line-height-md: 2.25rem; /* 36px */
  --line-height-lg: 2.75rem; /* 44px */
  --line-height-xl: 3rem; /* 48px */
  --line-height-xxl: 4rem; /* 64px */
}

/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  /* max-width: 100%; */
}

button {
  display: block;
  font: inherit;
}

/* Utilities */

.no-wrap {
  white-space: nowrap;
}

.wrapper {
  margin-inline: 6.4vw;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/* Buttons */

.button {
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 1.8125rem;
  color: var(--color-primary-100);
  background-color: var(--color-accent-500);
  font-weight: var(--font-weight-black);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.button span {
  color: var(--color-neutral-500);
}

.button--sm {
  padding: 1rem 1.8125rem;
}

.button--accent {
  background-color: var(--color-accent-400);
}

.button--accent span {
  color: var(--color-neutral-400);
}

.button:is(:hover, :focus) {
  background-color: var(--color-accent-500-hover);
}

.button--accent:is(:hover, :focus) {
  background-color: var(--color-accent-400-hover);
}

/************* Styles *************/

/* Typography */
body {
  color: var(--color-primary-800);
  background-color: var(--color-primary-100);
  font-family: var(--font-family-default);
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-body);
  text-align: center;
  min-width: 375px;
}

h1 {
  font-size: clamp(
    var(--font-size-lg),
    2.0229rem + 2.0356vw,
    var(--font-size-xl)
  );
  line-height: clamp(
    var(--line-height-lg),
    2.5115rem + 1.0178vw,
    var(--line-height-xl)
  );
  font-weight: var(--font-weight-black);
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: clamp(
      var(--font-size-xl),
      1.8571rem + 2.381vw,
      var(--font-size-xxl)
    );
    line-height: clamp(
      var(--line-height-xl),
      1.8571rem + 2.381vw,
      var(--line-height-xxl)
    );
  }
}

h2 {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-black);
  line-height: var(--line-height-md);
}

.overline {
  font-weight: var(--font-weight-black);
  color: var(--color-accent-500);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}
/* Layout */

.logo {
  margin: 3rem auto 3.175rem;
}

.hero__img {
  width: 108%;
  height: auto;
  position: relative;
  left: -4%;
}

.hero__title {
  margin: 2.85rem auto 1.35rem;
}

.hero__text {
  color: var(--color-neutral-800);
}

nav {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.divider {
  --divider-line-height: 84px;
  --divider-badge-radius: 56px;
  --divider-color-line: hsla(var(--color-neutral-800-hsl), 0.25);

  position: relative;
  margin: var(--divider-line-height) auto
    calc(var(--divider-badge-radius) * (-1) / 2);
  display: grid;
  place-content: center;
  width: var(--divider-badge-radius);
  height: var(--divider-badge-radius);
  border-radius: 50%;
  border: 1px solid var(--divider-color-line);
  color: var(--color-neutral-800);
  background-color: var(--color-primary-100);
  font-weight: var(--font-weight-black);
  z-index: 5;
}

.divider::before {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--divider-line-height);
  border-left: 1px solid var(--divider-color-line);
  transform: translate(50%, -100%);
}

.features,
footer {
  margin-top: 4rem;
  padding-top: 1px;
}

.features__images {
  margin: 5rem 0 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.5rem;
}

.features__img {
  width: 46%;
  height: auto;
  max-width: 251px;
  border-radius: 0.5rem;
}

.features__title {
  margin-top: 1.5rem;
}

.features__text {
  margin-top: 2rem;
  color: var(--color-neutral-800);
}

.footer-background {
  position: relative;
  background-image: url("/assets/mobile/image-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-color: var(--color-accent-500);
}

.footer {
  padding: 5.75rem 0 4.5rem;
  position: relative;
  color: var(--color-primary-100);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer > p {
  margin-top: 1.5rem;
}

.footer > button {
  margin-top: 2rem;
}
